<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>編集確認画面</title>
</head>
<body>
<div>
  <img src="<%= anime_image_path(@anime.icon_path(:path)) %>" style="width:100px; height:100px;" alt="icon">
  <div>Title <%= @anime.title %>
    放送年<br>キャスト、主題歌、スタッフ</div>
</div>
<div>
  <%= @media.name %>
  第<%= @episode.episode %>話 編集内容確認</div>
<%= form_tag (url_for(:action => "edit_conf"), :method => :post) do %>
<%= hidden_field_tag "schedule", @schedule.id %>
<div>放送日 <span><%= @time.strftime("%Y-%m-%d %H:%M:%S") %></span>
  <%= hidden_field_tag "time", @time.strftime("%Y-%m-%d %H:%M:%S") %>
</div>
<div>終了時間 <span><%= @span %>分後</span>
  <%= hidden_field_tag "span", @span %>
</div>
<div>参考、コメント <span><%= @memo %></span>
  <%= hidden_field_tag "memo", @memo %>
</div>
  <div>
    <%= button_to "戻る", {} %>
    <%= submit_tag "編集", :name => "commit" %>
  </div>
<% end %>
</body>
</html>