<% content_for :head do %>
  <meta charset="utf-8">
  <meta name="description" content="<%= @creator.name %>&nbsp;[<%= @creator.labels.map{|label| label.name}.join("・") %>]のアニメ関連情報。アニメモリで<%= @creator.name %>の最新情報をチェックしませんか。">
  <meta name="keywords" content="<%= @creator.name.strip %>,<%= @creator.labels.map{|label| label.name}.join(",") %>,アニメ,anime">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@animemory">
  <meta name="twitter:title" content="<%= @creator.name %>">
  <meta name="twitter:description" content="<%= @creator.name %>&nbsp;[<%= @creator.labels.map{|label| label.name}.join("・") %>]のアニメ関連情報。アニメモリで<%= @creator.name %>の最新情報をチェックしませんか。">
  <meta name="twitter:creator" content="@animemory">

  <meta property="og:title" content="<%= @creator.name %>" />
  <meta property="og:type" content="article" />
  <meta name="og:description" content="<%= @creator.name %>&nbsp;[<%= @creator.labels.map{|label| label.name}.join("・") %>]のアニメ関連情報。アニメモリで<%= @creator.name %>の最新情報をチェックしませんか。">
  <meta property="og:site_name" content="animemory" />
  <%= javascript_include_tag "common/my_channel", "creator/index" %>
<% end %>

<% content_for :title do %>
  　[アニメモリ] <%= @creator.name %> [<%= @creator.labels.map{|label| label.name}.join("・") %>] のアニメ関連情報
<% end %>

<%= content_for :h1 do %>
  <%= @creator.name %>&nbsp;[<%= @creator.labels.map{|label| label.name}.join("・") %>]&nbsp;のアニメ関連情報
<% end %>

<div class="row-fluid">
  <div class="span12">
    <div class="span7">
      <%= render :partial => "creator/index_main_pic_set", 
                 :locals  => {:creator    => @creator,
                              :my_channel => @my_channel, 
                              :user       => @user} -%>
      <%= render :partial => "creator/index_mychannel_user", 
                 :locals  => {:mychannel_users => @mychannel_users} -%>
      <%= render :partial => "creator/index_creator_info", 
                 :locals  => {:creator => @creator} -%>
    </div>
    <div class="span5">
    </div>
  </div>
</div>
