<html xmlns="http://www.w3.org/1999/html">
<head>
  <title></title>
</head>
<body>
<%= stylesheet_link_tag "top" %>
<h1 xmlns="http://www.w3.org/1999/html"><%= @artist.name %>の情報</h1>

<table>
  <tr>
    <td>
      名前
    </td>
    <td>
      <%= @artist.name %>[<%= @artist.kana %>]
    </td>
  </tr>
  <tr>
    <td>
      ニックネーム
    </td>
    <td>
      <%= @artist.nickname %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= @artist.voice_actor_flg == 1 ? "声優" : "--" %> <%= @artist.singer_flg == 1 ? "歌手" : "--" %> <%= @artist.songwriter_flg == 1 ? "作詞者" : "--" %> <%= @artist.composer_flg == 1 ? "作曲者" : "--" %>
    </td>
  </tr>
  <tr>
    <td>
      誕生日
    </td>
    <td>
      <% if @artist.birthday.present? %>
          <%= @artist.birthday.strftime("%Y年%m月%d日") %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>

    </td>
    <td>
      <%= @artist.description %>
    </td>
  </tr>
  <tr>
    <td>
      歌手
    </td>
    <td>
      <% @sings.each do |sing| %>
          <%= sing.title %>::<%= sing.anime.try(:title) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      作曲
    </td>
    <td>
      <% @composes.each do |comp| %>
          <%= comp.title %>::<%= comp.anime.try(:title) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      作詞
    </td>
    <td>
      <% @writes.each do |write| %>
          <%= write.title %>::<%= write.anime.try(:title) %>
      <% end %>
    </td>
  </tr>
</table>
</body>
</html>
