<%-
  seo_word = "#{@summary.title} [#{anime_with_episode(@summary.anime, @summary.episode)} まとめ]"
-%>

<% content_for :title do %>
  <%= seo_word %>
<% end %>

<% content_for :ogp do %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@animemory">
  <meta name="twitter:title" content="<%= @summary.title %>">
  <meta name="twitter:description" content="アニメモリは萌えやロボットから、ボーイズラブ、魔法少女に至るまで、あらゆるアニメの感想まとめやスケジュール、声優、スタッフなどの情報が詰まったサイトです。2chまとめも作れます。">
  <meta name="twitter:creator" content="@animemory">
  <meta name="twitter:image:src" content="<%= anime_image_path(@summary.anime_image.image_path(:path_512x288)) if @summary.anime_image.present? %>">

  <meta property="og:title" content="<%= @summary.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="<%= anime_image_path(@summary.anime_image.image_path(:path_200x200)) if @summary.anime_image.present? %>" />
  <meta name="og:description" content="アニメモリは萌えやロボットから、ボーイズラブ、魔法少女に至るまで、あらゆるアニメの感想まとめやスケジュール、声優、スタッフなどの情報が詰まったサイトです。2chまとめも作れます。">
  <meta property="og:site_name" content="animemory" />
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag "common/wiki", "lib/plugin/jquery.colorbox-min", "summary/index", "common/mymemory" %>
  <%= stylesheet_link_tag "lib/jquery-colorbox/colorbox", "summary/index", "summary/thread_list" %>
<%- end -%>

<% content_for :h1 do %>
  <%= seo_word %>
<% end %>

<div class="row-fluid">
  <div class="span3 text-center">
    <div class="text-center">
      <img src="<%= anime_image_path(@summary.anime.anime_image.present? ? @summary.anime.anime_image.image_path(:path_200x200) : "/images/no_image_200x200.jpg" ) %>" id="anime-image" class="img-polaroid">
    </div>
    <div class="am-anime-dtl-register-buttons">
      <%= link_to "アニメ詳細へ", url_for(:controller => "anime", :action => "dtl", :anime => @summary.anime.id), :id => "am-anime-title", :class => "amSpecialbtn btn-large" %>
    </div>
    <div class="sidebar-ads-wrap">
      <%= render :partial => "shared/sidebar_ads", :locals => {:amazon_products => @amazon_products} -%>
    </div>
  </div>
  <div class="span9 am-summary-index-summary-contents">
    <div class="am-summary-index-title-for-summary text-left">
      <%= @summary.title %>
      <%# 一旦非表示にて対応 %>
      <% if false %>
        <div class="am-anime-status-buttons">
          <%= favorite_button(@mymemory, :id => "mymemory-favorite") %>
          <%= watch_button(@mymemory, :id => "mymemory-watch") %>
        </div>
        <div class="am-arrow-balloon-fav">
          clickしてお気に入りに登録
        </div>
        <div class="am-arrow-balloon-watch">
          clickして視聴履歴管理
        </div>
      <% end %>
    </div>
    <div class="am-summary-index-title-for-anime-fix text-right">
      <span class="am-summary-index-tweet">
        <a href="https://twitter.com/share"<a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @summary.title %> : <%= @summary.anime.title %>[アニメモリ]" data-lang="ja">ツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </span>
      <span>引用元：<%= @summary.thread_log.try(:subject) %></span>
      <span>関連アニメ：<%= link_to anime_with_episode(@summary.anime, @summary.episode), url_for(:controller => "anime", :action => "dtl", :anime => @summary.anime.id, :id => "am-anime-title", :class => "text-left")%></span>
      <% if @user.present? && @summary.user_id == @user.id %>
        <%= link_to "編集する", url_for(:action => "edit", :sid => @summary.id) %>
      <% end %>
    </div>
    <% if @summary.anime_image.present? %>
      <div class="am-summary-index-main-pic text-center">
        <a href="<%= anime_image_path(@summary.anime_image.image_path(:path_512x288)) %>" class="summary-image">
          <%= image_tag( anime_image_path(@summary.anime_image.image_path(:path_512x288)), :class =>"img-polaroid" ) %>
        </a>
      </div>
    <% end %>
    <div class="row-fluid am-new-summary-wrap am-normal-background">
      <%= render :partial => "summary/new_summary", :locals =>{:new_summaries => @new_summaries} %>
    </div>
    <div class="row-fluid text-center am-summary-index-sub-pic">
      <% @summary.anime_images.each do |top_image| %>
        <a href="<%= anime_image_path(top_image.image_path(:path_512x288)) %>" class="summary-image">
          <%= image_tag( anime_image_path(top_image.image_path(:path_512x288)), :class =>"img-polaroid" ) %>
        </a>
      <% end %>
    </div>
    <ul class="am-summary-index-responses">
      <% @summary.sorted_contents.each do |res| %>
        <li class="am-summary-index-responses-title" id="<%= "summary-content-#{res.anchor}" %>">
          <%= "#{res.anchor}:" -%>
          <a class="am-summary-res-nickname"><%= "#{res.name}" -%></a>
          <%= "#{res.posted_at.try(:strftime, "%Y/%m/%d %H:%M:%S")} :" -%>
          <a class="am-summary-res-identification"><%= "#{res.post_cd}" -%></a><br/>
        </li>
        <li>
          <%= wiki(res.content) %>
        </li>
        <li>
          <span>
            <% res.sorted_anime_images.each do |anime_image| %>
              <a href="<%= anime_image_path(anime_image.image_path(:path_512x288)) %>" class="summary-image">
                <%= image_tag( anime_image_path(anime_image.try(:image_path, :path_512x288)) ) %>
              </a>
            <% end %>
          </span>
        </li>
        <%= render :partial => "summary/each_comment_box", :locals => {:res => res, :summary => @summary, :comments => @summary_res_comment_hash[res.id]} -%>
      <% end %>
    </ul>
    <%- if @summary.description.present? -%>
      <div class="row-fluid am-summary-index-comment">
        <div>
          <p><%= wiki(@summary.description) -%></p>
        </div>
      </div>
    <%- end -%>
    <div class="row-fluid am-new-summary-wrap am-normal-background">
      <%= render :partial => "summary/new_summary", :locals => {:new_summaries => @new_summaries} %>
    </div>
    <div class="row-fluid am-summary-index-user-comment">
      <p class="summary-comment-cat-head">コメント</p>
      <ul>
        <% @summary_comments.each do |comment| %>
          <li class="summary-comment">
            <p><%= "#{comment.comment_number}. 名前:名無しさん 投稿日:#{comment.created_at.strftime("%Y年%m月%d日 %H:%M")}" %></p>
            <% if (content = comment.summary_content).present? %>
              <a href="#" data-summary-content-id="<%= "summary-content-#{content.anchor}" -%>" class="res-comment-anchor">
                &gt;&gt;<%= content.anchor %><span>&nbsp;&nbsp;&nbsp;[From:まとめ]</span>
              </a>
              <div class="res-comment-content-balloon">
                <span class="am-sankaku"></span>
                <%= wiki(content.content) -%>
              </div>
            <% end -%>
            <div class="summary-comment-content-inside">
              <%= wiki(comment.content) -%>
            </div>
          </li>
        <% end %>
      </ul>
      <span class="am-user-comment-post">※※※※※※※※※※※※※　コメント投稿　※※※※※※※※※※※※※</span>
      <div>
        <%= form_tag url_for(:action => "comment_post"), :id => "comment-form", :method => :post do %>
          <%= hidden_field_tag "sid", @summary.id %>
          <%= text_area_tag "content", params[:content].to_s, :id => "comment-content" %>
          <div class="text-center">
            <%= submit_tag "コメントする", :name => "post" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <%= render :partial => "anime/outside_summary_list", :locals => {:outside_summaries_left => @outside_summaries_left, :outside_summaries_right => @outside_summaries_right} -%>
    </div>
  </div>
</div>
