<% content_for :head do %>
<%= javascript_include_tag "mypage/can_watch", "common/mymemory" %>
<%= stylesheet_link_tag "common/mymemory", "mypage/can_watch" %>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <%= render :partial => "mypage_top_personal_cover", :locals => {:user => @user} %>
  </div>
</div>

<div class="row-fluid">
  <div class="span10">
    <div class="mypage-can-watch">
      <div><%= image_tag("icon_can_watch.png") -%>選択中放送局で放送しているアニメのリスト</div>
      <%= mymemory_js_data %>
      <ul class="anime-list">
        <%- if @animes.present? -%>
          <% @animes.each do |anime| %>
            <li>
              <ul class="media-name">
              <% ( @anime_media_relation[anime.id] || [] ).each do |media| %>
                  <li><%= cut_str(media.name,10) %></li>
              <% end %>
              </ul>
              <%= link_to cut_str(anime.title, 24), url_for(:controller => "anime", :action => :dtl, :anime => anime.id), :class => "anime-title" -%>
              <% image_path = anime.anime_image.present? ? anime.anime_image.image_path(:path_100x100) : "/images/no_image.jpg" %>

              <%= link_to image_tag( anime_image_path(image_path) ), url_for(:controller => "anime", :action => :dtl, :anime => anime.id), :class => "anime-image" -%>
              <span class="mymemory" data-aid="<%= anime.id %>">
                <%= favorite_button(@mymemory_by_anime[anime.id], :button => {:class => "mymemo-fv"}, :balloon => {:class => "am-arrow-balloon-fav"}, :nologin => {}) %>
                <%= watch_button(@mymemory_by_anime[anime.id], :button => {:class => "mymemo-wc"}, :balloon => {:class => "am-arrow-balloon-watch"}, :nologin => {} ) %>
              </span>
            </li>
          <% end %>
        <%- else-%>
          <span class="nothing"><i class="icon icon-info-sign"></i>みれるアニメはありません。まずは放送局を選択してください</span>
        <%- end -%>
      </ul>
    </div>
  </div>
  <div class="span2">
    <%= render :partial => "shared/narrow_add" %>
  </div>
</div>