<% content_for :head do %>
<%= stylesheet_link_tag "mypage/_anirepo_list_group" %>
<%= javascript_include_tag "common/mymemory", "mypage/index" %>
<% end %>

<div class="row-fluid">
	<div class="span12">
  <%= render :partial => "mypage_top_personal_cover", :locals => {:user => @user} %>
  </div>
</div>

<div class="row-fluid">

	<div class="span5">
		<%= render :partial => "mypage_index_left", :locals => {:schedule_hash => @today_schedule_hash, :episode_memory_hash => @episode_memory_hash, :mymemory_hash => @mymemory_hash, :user => @user} %>
	</div>

	<div class="span5">
    <div class="mypage-anirepo-list">
      <div><i class="icon-white icon-flag"></i>みてるアニメランキング</div>
      <%= mymemory_js_data %>
      <ul>
        <% @watching_rank_animes.each_with_index do |anime, index| %>
          <li>
            <span class="anime-rank rank-<%= index + 1 %>"><%= (index + 1) %></span>
            <% image_path = anime.anime_image.present? ? anime.anime_image.image_path(:path_100x100) : "images/no_image.jpg" %>
            <%= link_to( image_tag( anime_image_path(image_path) ), url_for(:controller => :anime, :action => :dtl, :anime => anime.id) ) %><%# 画像 %>
            <span class="anime-title"><%= link_to anime.title, url_for(:controller => :anime, :action => :dtl, :anime => anime.id) %></span>
            <span class="watching-count"><span><%= anime.anime_score.try(:watching_count).to_i %></span>&nbsp;みてる</span>
            <% mymemory = @mymemory_hash[anime.id].presence || Mymemory.new(:user_id => @user.id, :anime_id => anime.id) %>
            <span class="mymemory" data-aid="<%= anime.id %>">
              <%= favorite_button(mymemory, :button => {:class => "mymemory-favorite"}, :balloon => {:class => "favorite-balloon"}, :nologin => {:class => "nologin-mymemory-favorite"}) %>
              <%= watch_button(mymemory, :button => {:class => "mymemory-watch"}, :balloon => {:class => "watch-balloon"}, :nologin => {:class => "nologin-mymemory-watch"}) %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
	</div>

	<div class="span2">
		<%= render :partial => "shared/narrow_add" %>
	</div>

</div>
