<% content_for :head do %>
  <%= javascript_include_tag "common/my_channel", "mypage/intro_mychannel" %>
  <%= stylesheet_link_tag "mypage/intro_mychannel" %>
<% end %>

<div style="display:none;" data-token="<%= h form_authenticity_token %>" id="authenticity_token"></div>

<% content_for :h1 do %>
  すごく簡単!! 初回設定をしてすぐアニメモリを使いましょう！
<% end %>

<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="intro-mychannel">
        <div>
          <span class="page-title">アニメモリ初回設定画面 ステップ2</span>
          <span>
            <ul>
              <li><span>ステップ１</span></li>&gt;&nbsp;
              <li class="step2 active"><span>ステップ２</span></li>&gt;&nbsp;
              <li id="start-animemory">
                <span>利用開始！</span>
                <a style="display:none;" href="<% url_for(:action => :index)%>">利用開始！</a>
              </li>
            </ul>
          </span>
        </div>
        <div class="explanation">
          <span>
            <div>
              <h4>My!チャンネル登録</h4>
            </div>
            <span class="main-explanation">
            好きな声優・制作会社をMy!チャンネル登録して最新通知を受け取りましょう。
            </span><br />
            <span class="sub-explanation">※下記の声優・制作会社以外もアニメ詳細画面等で登録できます</span>
            <span class="link-to-mypage" style="display:none;"><a href="<%= url_for(:action => :index) %>">アニメモリ利用開始！</a></span>
          <span>
        </div>
        <div class="popular-creator">
          <div>人気声優</div>
          <ul>
            <% @voice_actors.each do |voice_actor| %>
              <li class="voice-actor my-channel-list">
                <%= voice_actor.name %>
                <%= my_channel_button(voice_actor.id, @mychannel_crids.include?(voice_actor.id), @user) %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="popular-creator">
          <div>おすすめ制作会社</div>
          <ul>
            <% @productions.each do |production| %>
              <li class="production my-channel-list">
                <%= production.name %>
                <%= my_channel_button(production.id, @mychannel_crids.include?(production.id), @user) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
