<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= (yield :title).strip %></title>
    <%= yield :ogp %>
    <%= stylesheet_link_tag  "anime/bootstrap", "common/layout" %>
    <%= javascript_include_tag "lib/jquery/jquery-1.9.1.min", "lib/jquery-ui/jquery-ui-1.10.2.custom.min", "anime/bootstrap.min", "lib/plugin/jquery.swrfixed.js", "common/common_header" %>
    <%= yield :head %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42100169-1', 'animemory.jp');
      ga('send', 'pageview');
    </script>
    <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <div style="display:none;" id="user-data" data-login="<%= @user.present?.to_s %>" data-mychannel-url="<%= url_for(:controller => :my_channel, :action => :update) %>">
  </div>
  <header class="layout-header" id="layout-header">
      <%= render :partial => "anime/header" %>
  </header>
  <div class="container">
    <div>
      <%= render :partial => "/anime/breadcrumb", :locals => {:anime => @anime, :episode => @episode, :creator => @creator } %>
    </div>
    <%= yield %>
  </div>

  <footer>
    <%= render :partial => "anime/footer" %>
  </footer>

</body>
</html>
